
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="text-align:center">
    <h2>Đặt hàng thành công</h2>
    <h4>Cảm ơn bạn tin tưởng và chọn sản phẩm cửa hàng chúng tôi. Đơn hàng sẽ được giao ngay tới bạn. 
        Chúc bạn có bữa tiệc vui vẻ bên gia đình và bạn bè. Hẹn gặp lại! </h4>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Quay lại chọn sản phẩm tiếp theo :)</a>
</body>


